.rendering-controls {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0.5;
  transition: all 0.2s;
  background: rgba(47,48,55,0.9);
  cursor: default;
  font-family: "Ubuntu Condensed", sans-serif;
  color: rgba(200,200,225,0.5);
}
.rendering-controls.hover,
.rendering-controls.scrubbing {
  opacity: 1;
}
.rendering-controls p {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 1.6em;
  margin: 0.3em;
}
.rendering-controls .label {
  margin-bottom: 0;
}
.rendering-controls button {
  background: none;
  border: none;
  padding: 0;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.2s;
  font-size: inherit;
}
.rendering-controls button::before {
  font-size: 3em;
}
.rendering-controls button.hover {
  opacity: 0.9;
}
.rendering-controls button:focus {
  outline: none;
}
.rendering-controls .panel {
  border: 1px solid rgba(200,200,225,0.5);
  margin: 0.4em;
  padding: 0.4em 0.4em 0;
  width: 20em;
}
.rendering-controls .panel > .toggle > .checkbox-control {
  font-size: 1.2em;
  text-transform: uppercase;
}
.rendering-controls .panel > .toggle > .checkbox-control .value {
  display: none;
}
.rendering-controls .panel.contents-visible {
  padding: 0.4em;
}
.rendering-controls .panel.contents-visible > .toggle > .checkbox-control {
  border-bottom: 1px solid rgba(200,200,225,0.5);
  margin-bottom: 0.5em;
}
.rendering-controls .panel .sub-panel {
  margin: 0.3em;
  border-bottom: 1px solid rgba(200,200,225,0.5);
}
.rendering-controls .panel .sub-panel .title {
  font-size: 1.6em;
  font-style: italic;
  margin: 0.5em 0 0.3em;
  padding-bottom: 0.1em;
}
.rendering-controls .panel .sub-panel.first .title {
  margin-top: 0;
}
.rendering-controls .panel .sub-panel:last-child {
  border-bottom: none;
}
.rendering-controls .slider-control {
  font-family: "Ubuntu Condensed", sans-serif;
  color: rgba(200,200,225,0.5);
  padding: 0.3em;
}
.rendering-controls .slider-control .value {
  display: inline-block;
  font-size: 1.6em;
}
.rendering-controls .slider-control .slider {
  display: inline-block;
  position: relative;
  width: 10em;
  height: 1.5em;
  opacity: 1;
  transition: all 0.2s;
}
.rendering-controls .slider-control .slider .track {
  position: relative;
  height: 0.5em;
  margin: 0.5em;
  background: rgba(210,210,225,0.5);
  border-radius: 0.5em;
  border: none;
  box-shadow: 0 0 0.3em rgba(200,200,225,0.5);
}
.rendering-controls .slider-control .slider .track .thumb {
  position: absolute;
  left: 0;
  top: 50%;
}
.rendering-controls .slider-control .slider .track .thumb::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.1em;
  height: 1.1em;
  transform: translate(-50%, -55%) scale(0.7);
  border-radius: 100%;
  background: rgba(255,255,255,0.5);
  transition: all 0.2s;
}
.rendering-controls .slider-control .slider.hover .track .thumb::before {
  transform: translate(-50%, -55%);
  background: rgba(255,255,255,0.7);
  box-shadow: 0 0 0.2em rgba(0,0,0,0.3);
}
.rendering-controls .slider-control.hover .slider {
  opacity: 1;
}
.rendering-controls .checkbox-control {
  font-size: 1.6em;
}
.rendering-controls .checkbox-control .value {
  position: relative;
  border: 0.15em solid rgba(200,200,225,0.5);
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  margin: 0.3em;
  vertical-align: middle;
}
.rendering-controls .checkbox-control .value.true::after {
  content: "✔";
  position: absolute;
  left: 0.2em;
  top: 0;
  font-size: 0.6em;
}
.rendering-controls .checkbox-control .name {
  display: inline-block;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.rendering-controls ul {
  list-style: none;
  padding-left: 0;
}
.rendering-controls ul .toggle-container .contents {
  margin-left: 1em;
}
.rendering-controls .toggle-container .toggle .checkbox-control .value {
  border: none;
}
.rendering-controls .toggle-container .toggle .checkbox-control .value::after {
  content: "▶";
  position: absolute;
  left: 0.2em;
  top: 0;
  font-size: 0.6em;
}
.rendering-controls .toggle-container .toggle .checkbox-control .value.true::after {
  content: "▼";
}
.rendering-controls .toggle-container .contents {
  display: none;
}
.rendering-controls .toggle-container .contents.visible {
  display: block;
}
.rendering-controls .dropdown-control .toggle-container {
  position: relative;
}
.rendering-controls .dropdown-control .toggle-container .checkbox-control .value {
  border: none;
}
.rendering-controls .dropdown-control .toggle-container .checkbox-control .value::after {
  content: "▼";
}
.rendering-controls .dropdown-control .toggle-container .contents {
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid rgba(200,200,225,0.5);
  background: rgba(47,48,55,0.9);
  font-size: 1.6em;
  z-index: 1;
  box-shadow: 0 0.4em 0.5em rgba(0,0,0,0.3);
}
.rendering-controls .dropdown-control .toggle-container .contents .values .value {
  padding: 0.4em;
}
.rendering-controls .dropdown-control .toggle-container .contents .values .value.hover {
  background: rgba(200,200,225,0.1);
}
.rendering-controls .vertex-colors-control .sub-area {
  display: none;
  margin-left: 2em;
}
.rendering-controls .vertex-colors-control .sub-area.displayed {
  display: block;
}
.rendering-controls .color-control {
  margin: 0.3em;
}
.rendering-controls .color-control .color-preview {
  display: block;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid rgba(200,200,225,0.5);
}
.rendering-controls .color-control .toggle-container {
  position: relative;
}
.rendering-controls .color-control .toggle-container .checkbox-control .value {
  border: none;
}
.rendering-controls .color-control .toggle-container .checkbox-control .value::after {
  content: "▼";
}
.rendering-controls .color-control .toggle-container .contents {
  position: absolute;
  top: 0;
  left: 3.5em;
  width: 11.2em;
  padding: 0.5em;
  border: 1px solid rgba(200,200,225,0.5);
  background: rgba(47,48,55,0.9);
  z-index: 1;
  box-shadow: 0 0.4em 0.5em rgba(0,0,0,0.3);
}
.rendering-controls .color-control .toggle-container .contents .presets-area {
  margin-bottom: 0.5em;
}
.rendering-controls .color-control .toggle-container .contents .presets-area .presets {
  list-style: none;
  padding: 0;
  width: 12em;
  margin-top: 0.3em;
}
.rendering-controls .color-control .toggle-container .contents .presets-area .presets .preset {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  margin: 0 0.3em 0.2em 0;
}
.rendering-controls .color-control .toggle-container .contents .color-sliders {
  display: inline-block;
  width: 12.5em;
}
.rendering-controls .color-control .toggle-container .contents .color-sliders .slider-area {
  width: 12.5em;
}
.rendering-controls .color-control .toggle-container .contents .color-sliders .slider-area .name {
  display: inline-block;
  font-size: 1.6em;
  width: 0.8em;
  text-align: right;
}
.rendering-controls .color-control .toggle-container .contents .color-sliders .slider-area .slider-control {
  display: inline-block;
  width: 10em;
  padding: 0;
}
.rendering-controls .color-control .toggle-container .contents .color-sliders .slider-area .slider-control .slider {
  width: 6.5em;
}
.rendering-controls .gradient-area .gradient-preview-area {
  margin: 0.3em;
}
.rendering-controls .gradient-area .gradient-preview-area .gradient-preview-image {
  width: 100%;
  height: 1em;
}
.rendering-controls .gradient-curve {
  padding: 0.5em;
}
.rendering-controls .gradient-curve canvas {
  width: 10em;
  height: 10em;
}
