.top-viewer
  .rendering-controls
    position fixed
    top 0
    right 0
    z-index 1
    opacity 0.5
    transition all 0.2s
    background hsla(234, 8%, 20%, 0.9)

    &.hover
    &.scrubbing
      opacity 1

    .gradient-area
      .gradient-preview-area
        margin 0.3em

        .gradient-preview-image
          width 100%
          height 1em
